body {
  text-align: center;
  background-image: url('./img/math.jpg');
  background-size: 50%;
}

.container-drag {
  text-align: center;
  height: 400px;
  width: 800px;
  background-color: rgb(146, 79, 255);
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -400px;
  border: 3px double black;
  border-radius: 15px;
  box-shadow: 10px 5px 10px 5px;
  font-family: 'Gloria Hallelujah', cursive;
  color: black;
}

.add-button {
  height: 50px;
  width: 100px;
  position: fixed;
  top:83%;
  left: 25%;
  margin-top: -25px;
  margin-left: -50px;
  border-radius: 10px;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 20px;
}

.add-button:hover {
  background-color: #424143;
  transition: 0.2s ease 0s;
  color: greenyellow;
}
.subtract-button {
  height: 50px;
  width: 100px;
  position: fixed;
  top:83%;
  left: 42%;
  margin-top: -25px;
  margin-left: -50px;
  border-radius: 10px;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 20px;
}

.subtract-button:hover {
  background-color: #424143;
  transition: 0.2s ease 0s;
  color: greenyellow;
}

.foo-button {
  height: 50px;
  width: 100px;
  position: fixed;
  top:83%;
  left: 58%;
  margin-top: -25px;
  margin-left: -50px;
  border-radius: 10px;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 17px;
}

.foo-button:hover {
  background-color: #424143;
  transition: 0.2s ease 0s;
  color: greenyellow;
}

.complicated-button {
  height: 50px;
  width: 100px;
  position: fixed;
  top:83%;
  left: 75%;
  margin-top: -25px;
  margin-left: -50px;
  border-radius: 10px;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 17px;

}

.complicated-button:hover {
  background-color: #424143;
  transition: 0.2s ease 0s;
  color: greenyellow;
}

.total-button {
  height: 50px;
  width: 100px;
  position: absolute;
  top:82%;
  left: 43%;
  border-radius: 15px;
  font-family: 'Gloria Hallelujah', cursive;
  background-color: black;
  color: greenyellow;
  border: 3px double whitesmoke;
  box-shadow: 5px 2px;
  font-size: 17px
}

.total-button:hover {
  background-color: #424143;
  transition: 0.2s ease 0s;
} 

.droppable {
  height: 400px;
  width: 800px;
}

.number-field {
  height: 50px;
  width: 100px;
  color: red;
  position: absolute;
  top:29%;
  left: 17%;
  border-radius: 15px;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 30px;

}

.number-field2 {
  height: 50px;
  width: 100px;
  color: red;
  position: absolute;
  top:29%;
  left: 43%;
  border-radius: 15px;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 30px;
 
}
.number-field3 {
  height: 50px;
  width: 100px;
  color: red;
  position: absolute;
  top:29%;
  left: 69%;
  border-radius: 15px;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 30px;
 
}

.expression-box {
  height: 100px;
  width: 700px;
  position: relative;
  top: -200px;
  left: 50px;
  background-color: white;
  font-family: comic;
  font-size: 34px;
  font-family: 'Gloria Hallelujah', cursive;
  border-radius: 25px;
  line-height: 100px;
  color: black
}

.operator {
  height: 50px;
  width: 100px;
  position: absolute;
  top:4%;
  left: 43%;
  border-radius: 15px;
  font-family: 'Gloria Hallelujah', cursive;
  line-height: 50px;
  background-color: black;
  color: greenyellow;
  border: 3px double whitesmoke;
  box-shadow: 5px 2px;
  font-size: 17px
}

.app-header {
  width: 100%;
  text-align: center;
  margin-top: -100px;
  height: 200px;
  background-color: rgb(51, 230, 6);
  border-radius: 80px;
line-height: 250px;
font-family: 'Gloria Hallelujah', cursive;
font-size: 33px;
}

.sign-1 {
  font-size: 30px;
  color: black;
  position: relative;
  top: 110px;
  left: -95px;
}

.sign-2 {
  font-size: 30px;
  color: black;
  position: relative;
  top: 110px;
  left: 95px;
}

.equal-sign {
  font-size: 30px;
  color: black;
  position: relative;
  top: 110px;
  left: 185px;
}

.number-name1 {
  position: absolute;
  top:20%;
  left: 19%;
  border-radius: 15px;
  font-family: 'Gloria Hallelujah', cursive;
}


.number-name2 {
  position: absolute;
  top:20%;
  left: 45%;
  border-radius: 15px;
  font-family: 'Gloria Hallelujah', cursive;
}


.number-name3 {
  position: absolute;
  top:20%;
  left: 71%;
  border-radius: 15px;
  font-family: 'Gloria Hallelujah', cursive;
}